$grayscale-main: #2A2A2A;
$white: #fff;
$grayscale-one: #EFEFEF;
$grayscale-two: #BEBEBD;
$grayscale-three: #908F8F;
$grayscale-four: #7A7979;
$grayscale-five: #4E4D4C;
$grayscale-six: #212121;
$grayscale-seven: #121212;

$main-color: #EE2E2A;
$main-color-two: #D51819;
$main-color-three:#D51819;
$main-color-four: #AE201B;
$main-color-five: #8F1F18;
$main-color-six: #6B2312;

$complimentary-main: #778F9D;
$complimentary-one: #CED6DB;
$complimentary-two: #ACBCC4;
$complimentary-three: #90A4AF;
$complimentary-five: #506774;
$complimentary-six: #3A515E;

$highlight-main: #00BCD4;
$highlight-one: #66D7E5;
$highlight-two: #33C9DD;
$highlight-three: #29ABBC;

$second-highlight: #00C853;
$third-highlight: #FCD92D;