h1,
h2,
h3,
p,
a,
ul,
ol {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
}

h1 {
    font: ProximaNova, sans-serif;
    font-size: 3rem;
    font-weight: 100;
}

h2 {
    font: ProximaNova, sans-serif;
    font-size: 2rem;
    font-weight: 100;
}

h3 {
    font: ProximaNova, sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
}

p,
a,
ul,
ol {
    color: $grayscale-five;
    font-size: 1rem;
    font-weight: 200;
    line-height: 18px;
}

a {
    color: $complimentary-three;
    &:hover {
        color: $highlight-two;
        cursor: pointer;
    }
}

pre {
    border-radius: 5px;
}

ul,
ol {
    padding-left: 30px;
}

ul {
    list-style: inherit;
}

ol {
    list-style-type: decimal;
}

strong,
b {
    color: $complimentary-five;
    font: ProximaNova, sans-serif;
    font-weight: 600;
}

table {
    font-family: ProximaNova, sans-serif;
    margin: 25px auto 50px;
    width: 100%;
    tr {
        border-bottom: 1px solid $grayscale-one;
        vertical-align: middle;
        th,
        td {
            padding: 0 40px 0 24px;
            width: 33%;
        }
    }
    thead {
        tr {
            color: $grayscale-four;
            font-weight: 500;
            height: 50px;
            th {
                text-align: left;
            }
        }
    }
    tbody {
        tr {
            color: $grayscale-three;
            height: 60px;
            padding-top: 10px;
            td {
                vertical-align: inherit;
            }
        }
    }
}