footer {
    background-color: $grayscale-seven;
    height: $footer-height;
    overflow: hidden;
    padding-top: 50px;
    position: relative;
    width: 100%;
    z-index: 1;
    bottom: 0;
    .logo-footer {
        bottom: -150px;
        display: inline-block;
        position: absolute;
        right: -50px;
        z-index: -1;
    }
    .footer-link-container {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        z-index: 10;
    }
    .footer-link-list {
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding-bottom: 40px;
        width: 30%;
        @include breakpoint(s) {
            width: 100%;
        }
    }
    h3 {
        color: white;
        margin-bottom: 20px;
    }
    li {
        list-style: none;
        a {
            color: $grayscale-two;
            font-size: 18px;
        }
    }
    ul {
        line-height: 50px;
    }
}

@include breakpoint(l) {
    footer {
        height: 500px;
        margin: auto;
    }
}

@include breakpoint(s) {
    footer {
        height: 900px;
    }
}