.side-nav-container {
    height: calc(100vh - 57px);
    overflow-x: hidden;
    padding-top: 10px;
    position: fixed;
    top: 57px;
    .title-nav-item {
        padding-left:  16px;
    }
    li {
        padding: 0;
        a {
            height: 100%;
            padding: 16px;
            width: 100%;
        }
    }
}